*,*:before,*:after{
	box-sizing:border-box;
	position:relative;
}
html,body{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
body{
	background:#D3D3D3;
}
/*img{
width: 100px;
}*/
main {
	display:flex;
	flex-direction:row; 
	flex-wrap:wrap;
	width:80%;
}

h1,h2,h3 {
	margin:0;
}
section{
	padding:15px;
	margin: 5px;
	background:#fff;
}
.sec1{ 
	width:65%;
}
.sec2{
	width:30%;
	display:flex;
	justify-content:center;
	align-items: flex-end;
}
.sec2 div {
	margin:5px;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
}
.sec2 div img{
	width:83px;
}
.sec2 div:first-child img{
	width:100px;
}

.sec2 div p{
	font-size:15px;
	text-align:center;
}

.sec3{
	width: 30%;
	display:flex;
	/*justify-content:center;*/
	flex-wrap:wrap;
	align-items:flex-end;
}
.sec3 img{
	width:47%;
	margin:3px;	
}
.sec3 p:last-child{
	text-align: right;
	width: 100%;
	/*font-size:14px;*/
}

.sec4{ 
	width:65%;
	display:flex;
	flex-wrap:wrap;
}
.sec4 div {
	width: 48%;
}
.sec4 img{
	width:70%;

}

.sec4 h2{
	font-size:16px;
	margin-bottom:15px;
	text-align:end; 
}
.sec4 ul li {
	font-size:16px;
	text-align:start;
}
.sec4 h3{
	font-size:15px;
}
.sec5 {
	width:48%;
}
.sec6{
	width:29%;
}

.sec6 h3{
	font-size:15px;
}
.sec6 img{
	width:70%;

}
.sec7{
	width:17%;
}
.sec7 h2{
	font-size:15px;
}
