*,*:before,*:after{
	box-sizing:border-box;
	position:relative;
}
html,body{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
body{
	background:#D3D3D3;
	font-family:arial;
}
main {
	display:flex;
	flex-direction:row; 
	flex-wrap:wrap;
	width:80%;
}
h1,h2,h3 {
	margin-top:0;
}
section{
	padding:15px;
	margin: 1%;
	background:#fff;
	box-shadow:7px 7px 20px #888;
}
.sec1{ 
	width:66%;
}
.sec1 h1{
	margin-top:13px;		
	font-size:25px;
}
.sec1 p {
	top:8px;
	font-size:17px;
}
.sec2{
	width:30%;
	display:flex;
	justify-content:center;
	align-items: flex-end;
}
.sec2 div {
	margin:5px;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
}
.sec2 div img{
	width:80px;
}
.sec2 div:first-child img{
	width:100px;
}

.sec2 div p{
	font-size:12px;
	text-align:center;
}

.sec3{
	width: 30%;
	display:flex;
	/*justify-content:center;*/
	flex-wrap:wrap;
	align-items:flex-end;
}
.sec3 img{
	width:48%;
	margin:1%;	
}
.sec3 p{
	font-family: "Times New Roman-italico";
	font-size:18px;
}
.sec3 p:last-child{
	text-align: right;
	width: 100%;
	font-size:15px;
	font-family: arial;
}

.sec4{ 
	width:66%;
	display:flex;
	flex-wrap:wrap;
}
.sec4 h2{
	font-size:16px;
	margin-bottom:13px;
	 
}
.sec4 div {
	width: 47%;
	margin: 0 1%;
}
.sec4 div img{
	width:60%;
}
.sec4 div h3{
	font-size:15px;
	margin: 0;
	margin-top:10px;	
}
.sec4 div ul {
	padding:0px;
	margin:4px;
	
}
.sec4 div ul li {
	list-style: none;
	margin-top:2px;
	font-size:12px;
}

.sec4 div ul li:before{
	content:"- ";
}

.sec5 {
	width:53%;
}
.sec5 h3{
		font-size:15px;

}
.sec5 p{
	font-size:15px;
}
.sec6{
	width:29%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.sec6 h3{
	font-size:15px;
	width: 100%;
	margin-bottom: 0;		
}
.sec6 img{
	width:80%;
}

.sec7{
	width:12%;
}
.sec7 h2{
	font-size:15px;

}
.sec7 ul{
	padding-left:0;
	margin-bottom: 0;
	list-style: none;
	padding:0px;

}
.sec7 ul li{
	margin-bottom:12px;
}
.sec7 ul li:before{
	content: "• ";
	
}
@font-face{
	font-family: "Times New Roman-italico";
	src: url(fonts/timesi.ttf);

}

